# Others
wip/
private.data/
.DS_Store
.idea
*.sh

# KiAD
*-backups/

# Builds
build/
./default_config.hpp
./build_time.hpp

# VSCode + Python
**/.vscode/settings.json
**/.vscode/tasks.json
.venv
src/vendor/etl/

# GUI
dist/
package-lock.json
.parcel-cache
node_modules/

.codegpt