[submodule "src/vendor/ArduinoJson"]
	path = src/vendor/ArduinoJson
	url = https://github.com/bblanchon/ArduinoJson
[submodule "enclosure/BOSL2"]
	path = enclosure/BOSL2
	url = https://github.com/revarbat/BOSL2
[submodule "enclosure/NopSCADlib"]
	path = enclosure/NopSCADlib
	url = https://github.com/nophead/NopSCADlib
[submodule "src/vendor/FANET"]
	path = src/vendor/FANET
	url = https://github.com/rvt/FANET
[submodule "src/vendor/etl"]
	path = src/vendor/etl
	url = https://github.com/ETLCPP/etl.git
[submodule "src/vendor/FLARM"]
	path = src/vendor/FLARM
	url = https://github.com/rvt/FLARM
