# Others
wip/
private.data/
.DS_Store
.idea
*.sh

# KiAD
*-backups/
**/tmp/
# Builds
**/default_config.hpp
**/build_time.hpp
**/build_test*/
**/docker_build_test*/
**/generated/
**/release_build*/
**/build/

# VSCode + Python
**/.vscode/settings.json
**/.vscode/tasks.json
**/.venv/
**venv/
src/vendor/etl/

# GUI
**/dist/
package-lock.json
**/.parcel-cache/
**/node_modules/

**/.trunk/
